.header {
  display: flex;
  justify-content: space-between;
  &__picture {
    width: 20%;
    img {

    }
  }

  &__title {
    width: 80%;
    span {

    }

    h1 {

    }

    p {

    }

    p {
      span {

      }
    }

    &__block {
      margin-top: 20px;
      display: flex;
      align-items: center;
      .block_button{
        margin-right: 20px;
      }
    }
  }

}


