.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .wrapper {
    width: 100%;
    max-width: 90vw;
    height: 100%;
    margin: 15px 0;
  }

  .filter {
    display: flex;

    p {
      margin-left: 20px;
    }
  }
}