.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .wrapper {
    background: #FEFEFF;
    border-radius: 8px;
    width: 100%;
    max-width: 90vw;
    height: 100%;
    margin: 15px 0;
    .chart{
      display: flex;
      justify-content: center;
      padding: 20px;
    }

  }
}