.table__block {
  width: 100%;
  min-height: 100vh;
  margin: 15px 0;
  max-width: 90vw;
}

tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: table;
  width: 100%;
}

.col_opacity {
  opacity: 0.5;
}

.col1 {
  width: 10%;
  text-align: -webkit-right;
  padding-right: 10px;
}

.col2 {
  width: 20%;
}

.col3 {
  width: 30%;
}

.col4 {
  width: 20%;
}

.col5 {
  width: 10%;
}

.col6 {
  width: 5%;
}

.col7 {
  width: 5%;
}

tr th {
  height: 65px;
  text-align: left;
}

