.container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pack {
  background: #FEFEFF;
  border-radius: 8px;
  width: 100%;
  max-width: 90vw;
  height: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

.modal__btn {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}